@charset "utf-8";
img:hover {
	-webkit-box-shadow: 0px 50px 50px;
	box-shadow: 0px 50px 50px;
	width: 50%;
	height: auto;
	transition: width 0.5s, -webkit-transform 0.5s;
	-webkit-transform: rotate(5deg);
}
